<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="icon/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="assets/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <form class="form-signin" role="form" method="post" action="regist">
        <h2 class="form-signin-heading">Regist </h2>
         $!msg
        <input id="email" name="email" type="email" class="form-control" placeholder="Email address" value="$!email" required autofocus>
        <br/>
        <input id="passwd" name="passwd" type="password" class="form-control" placeholder="Password"  >
        <br/>
        <input type="password" class="form-control" placeholder="Password" required>
        <div>
        <input name="vcode" id="vcode" type="text" maxlength="4" class="form-control" style="display:inline;width:50%" placeholder="请输入验证码" title="请输入验证码">
            <img id="imageCode" src="validate/get" alt="点击刷新"  style="display:inline;width:25%" onclick="this.src='validate/get?t=' + Math.random();">
        </div>
        <br/>
        <button class="btn btn-primary " type="submit">Sign in</button>
      </form>

    </div> 
  </body>
</html>
