<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="icon/favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="assets/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">

    <style type="text/css">
     #wrapper {
        position: relative;
        width: 100%;
        z-index: 0;
        overflow: hidden;
     }

     #MapInfoCon {
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        z-index: 50;
        overflow: hidden;
        padding-top: 32px;
     }
     #mapView{
       position:relative;
       height:500px;
       width:100%;
     }
     .item{
         display:inline;
         width:48px;
         height:70px;
     }

 </style>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" style="background-color: #D6C7C7;" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">石头人</a>
            </div>
            <div class="navbar-collapse collapse">
                  <div style="margin-top:10px">
                   <div class="col-lg-6">
                     <div class="input-group">
                       <input type="text" class="form-control">
                       <span class="input-group-btn">
                         <button class="btn btn-default" type="button">Go!</button>
                       </span>
                     </div><!-- /input-group -->
                   </div><!-- /.col-lg-6 -->
                   </div><!-- /.row -->
                 </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div id="wrapper"  >
      <div id="MapHolder" style="height: 1388px; overflow: hidden; position: relative; text-align: left; background-image: url(http://webmap0.map.bdimg.com/image/api/bg.png);">

        <div id="platform" style="overflow: visible; position: absolute; z-index: 0; left: 0px; top: 100px; cursor: url(http://webmap0.map.bdimg.com/image/api/openhand.cur) 8 8, default;">
            <div id="MapInfoCon">
              <ul>
                 <li class="item"><a>XXXXXXXX</a>
                 </li>
                 <li class="item"><a>XXXXXXXX</a>
                 </li>
                 <li class="item"><a>XXXXXXXX</a>
                 </li>
             </ul>
            </div>
           <div id="mapView">
           <img stype="height: 700px;width: 800px;"src=" http://gd4.alicdn.com/imgextra/i4/1956824124/T2Zo.lXN4XXXXXXXXX-1956824124.jpg" >
          </div>
      </div>   
   </div>
  </body>
</html>
