
html, body {
    height: 100%
}

#main {
    height: 100%
}

#content {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}

#footer {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
}

#leftCol {
    position: fixed;
    width: 27%;
    background-color: #DDD;
    font-size: 21px;
    overflow-y: scroll;
    top: 45;
    bottom: 0;
    background-color: #f8f8f8;
}

#mianContent {
    position: relative;
    margin-left: 27%;
    padding-top: 45px;
}

.searchBar {
    width: 100%;
    text-align: center;
    position: fixed;
    background-color: #f8f8f8;
    top: 0;
    height: 45px;
    z-index: 100;
    padding: 0em;
}

.searchBar-input {
    margin-right: 5px;
}

.content-container {
    width: 100%;
}

.shop-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.footer-container {

    border-top: solid 1px lightgray;
}

.footer-container-left {

    padding-left: 0em;
    padding-right: 0em;
    width: 27%;
    float: left;
    position: relative;
    min-height: 1px;
    display: inline-block;
}

.footer-container-right {

    padding-left: 0em;
    padding-right: 0em;
    width: 73%;
    float: right;
    position: absolute;
    min-height: 1px;
    display: inline-block;

}

.shop-categray-list a::after {
    display: none;
}

.content-category {
    width: 25%;
}

.content-details {
    width: 75%;
}

.ui-tabs {
    padding: 0em;
}

.shop-container {

}

.oneline {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.hidden {
    display: none;
}

.prod_icon {
    position: relative;
    width: 60px;
    height: 0;
    overflow: hidden;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    float: left;
    border: solid 1px lightgray;
    margin-right: 9px;
}

.product-item {
    display: list-item;
    border-bottom: 1px solid #E0E3EF;
    padding: 9px 0px 0px 0px;
    overflow: hidden;
}

.countContainer {
    display: inline-block;
}

.countContainer-minus {

}

.countContainer-input {
}

.countContainer-add {

}

.countChangeActionSet {
    width: 30px;
}

/*colors*/

.color-base-bg {
    background-color: #f8f8f8;
}

.color-base-highlight {
    background-color: red;
}

.color-base-sidebar-bg {
    background-color: #f8f8f8;
}

.color-base-sidebar-seperator {
    background-color: #efefef;
}

.base-sidebar-me {
    background-color: #ffffff;
}

.color-base-cart-prepare {
    background-color: #7c7d80;
}

.base-cart-prepare {
    background-color: #7c7d80;
    text-align: center;
    height: 100%;
    padding: 0em;
}

.color-base-cart-ready {
    background-color: red;
}

.product-title {

    font-size: 13;
    color: #343434;
    font-weight: normal;
}

.product-price {

    font-size: 16;
    color: #343434;
    font-weight: bold;
    display: inline-block;
    width: 4em;
    text-align: left;
    float: left;
    padding-top: 1em;
}

.product_stepper {
    width: 4em;
    text-align: right;
    display: inline-block;
    float: right;
}

/*#items*/
.sidebar-me-submit {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0em;
    border-radius: 0;
}

.sidebar-cart-checkout {
    background-color: #7c7d80;
    width: 100%;
    margin: 0em;
    color: white;
    border: none;
}

.shop-product-list {
    background-color: #ffffff;
}

.shop-product-categray-list {
    margin: 0.0em;
    padding: 0px 9px 9px 12px;
}

.shop-categray-list {

    background-color: #f8f8f8;
    border-left: solid 1px #7c7d80;
}

.shop-categray {

    background-color: #f8f8f8;
    border-bottom: solid 1px #efefef;
    border-right: solid 1px #efefef;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.shop-categray-selected {
    background-color: #ffffff;
}

.shop-categray-item {

    text-align: center;
    font-size: 14px;
    color: #000000;
    padding: 0.5em 0em 0.5em 0em;
}

.shop-categray-item-decorate {

    background-color: red;
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
}

.shop-categray-item-selected {
    color: #F54447;
}

.base-font {
    font-size: 10px;
    font-weight: normal;
}

.addressHint {
    background-color: #878D98;
    color: #ffffff;
    font-size: 14px;
    padding: 12px;
}

.addNewAddressHint {
    background-color: #878D98;
    color: #ffffff;
    padding: 1em;
}
