<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="喵喵鲜果,微信商城,粉丝营销,微信商城运营">
    <meta name="description" content="喵喵鲜果">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">
    <title>
        喵喵一下，鲜果到家- 喵喵鲜果
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="http://kdt-static.qiniudn.com/v2/build_css/stylesheets/wap/base_c3573ac4ca.css"
          onerror="_cdnFallback(this)">
    <link rel="stylesheet" href="http://kdt-static.qiniudn.com/v2/build_css/stylesheets/wap/projects/showcase_admin_ebe3d70784.css"
          onerror="_cdnFallback(this)">
</head>

<body class=" ">
<!-- container -->
<div class="container ">
    <div class="js-mp-info share-mp-info">
        <a class="page-mp-info" href="http://wap.koudaitong.com/v2/showcase/homepage?kdt_id=389162">
            <!--<img class="mp-image" width="24" height="24" src="http://imgqn.koudaitong.com/upload_files/2014/10/26/FvaQ9twVeX2rYjATCGwpakMMZHE2.png!60x60.jpg">-->
            <i class="mp-nickname">
                喵喵一下，鲜果到家
            </i>
        </a>
        <div class="links">
            <a class="mp-homepage" href="http://wap.koudaitong.com/v2/showcase/usercenter?kdt_id=389162">
                我的记录
            </a>
            <a class="js-open-fav follow-mp" href="javascript:;">
                收藏
            </a>
        </div>
    </div>
    <div class="content js-mini-height" style="width:280px">
        <div class="content-body">
            <div class="tpl-shop js-tpl-shop">
                <div class="tpl-shop-header" style="height:60px">
                    <div style="position: absolute;bottom: -10px;left: 100px;font-size: 16px;text-shadow: 0 1px 2px rgba(0,0,0,0.5);">
                        喵喵一下，鲜果到家
                    </div>
                    <div class="tpl-shop-avatar">
                        <img src="http://imgqn.koudaitong.com/upload_files/2014/10/26/FvaQ9twVeX2rYjATCGwpakMMZHE2.png!100x100+2x.jpg"
                             alt="头像">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feedback" style="position: relative;top: 60px;width:280px;margin: auto;font-size: 16px;">
        <form id = "feedback"  name="feedback"   method="post"  action="feedback">
            <!--<span style="display:block"  >反馈问题</span>-->
            <textarea id ="ftext" rows="5" cols="20"  name="feedback" placeholder="您的问题和建议" style="border: 1px solid #eee;text-indent: 5px;display:block;width: 100%;height:120px;width:280px;margin-top:5px"></textarea>
            <div style="margin-top:10px">
                <input id="contact" name="contact"  placeholder="手机/微信/QQ" style="height:40px;border: 1px solid #eee;float:right;width:100%" >
            </div>
            <div style="margin-top:10px">
                <a  style="display:block;height:40px;width:100%;float:right;margin-top: 10px;background: -webkit-linear-gradient(top,#f5f5f5,#dfdfdf);;border-radius:3px;line-height:30px;text-align:center;font-size:18px"  onclick="return s()">提交</a>
            </div>
        </form>
    </div>
</div>
<div class="js-footer" style="min-height: 1px;">
    <div class="footer">
        <div class="footer">
        </div>
    </div>
</div>
<script  type="text/javascript" >
    function   s(){
     var f = document.getElementById("feedback");
    var xmlhttp = new XMLHttpRequest();;
    if (xmlhttp==null){
        return;
    }
    var feedback = document.getElementById("ftext").value ;
    var contact = document.getElementById("contact").value ;
    var url="feedback?feedback=" +escape(feedback) + "&contact="+escape(contact)
    xmlhttp.open("GET",url,true);
    xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    xmlhttp.send();
    alert ("感谢您的支持");
    }
</script>
<div id="js-fuck-taobao" class="fullscreen-guide fuck-taobao hide">
            <span class="js-close-taobao guide-close">
                ×
            </span>
            <span class="guide-arrow">
            </span>
    <div class="guide-inner">
        <div class="step step-1">
        </div>
        <div class="js-step-2 step">
        </div>
    </div>
</div>
</body>

</html>