<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="../js/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="../css/app.css">

    <script src="../js/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="../js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/simpleCart.min.js" type="text/javascript"></script>
    <script src="../js/jqm-spinbox.min.js" type="text/javascript"></script>
    <script src="../sg/js/shopAction.js" type="text/javascript"></script>

    <!--for tomcat-->
    <link rel="stylesheet" href="/js/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="/css/app.css">

    <script src="/js/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/sg/js/simpleCart.min.js" type="text/javascript"></script>
    <script src="/js/jqm-spinbox.min.js" type="text/javascript"></script>
    <script src="/sg/js/shopAction.js" type="text/javascript"></script>

</head>
<body>

<div id="main" role="main">

    <div id="header" data-role="header" data-theme="b" role="banner" class="ui-bar-b ui-header" style="z-index: 100">
        <a href="#"
           class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-back">Back</a>

        <h1>$shop.name</h1>
            <a href="#" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear">Options</a>
    </div>

    <div id="content" data-role="content" class="ui-content">
        <div class="searchBar">
            <input type="search" name="search-products" class="searchBar-input" value="" placeholder="搜索商品...">
        </div>

        <div class="content-container shop-container">
            <div class="container-fluid">
                <div class="row" data-role="tabs">
                    <div class="col-xs-3 shop-categray-list-container">
                        <div class="shop-categray-list">
                            <ul data-role="listview" class="ui-listview" role="listbox" style="margin: 0.0em 0.1em;">
                                #foreach($category in $categoryls)
                                <li class="shop-categray" data-theme="c" data-item-id="$category.id">
                                    <a href="#$category.id" data-ajax="false">
                                        <div>$category.name</div>
                                    </a>
                                </li>
                                #end
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-9" style="padding-left: 0em;padding-right: 0em">
                        <div id="shop-product-list">
                            #foreach($category in $categoryls)
                            <ul data-role="listview" class="ui-listview ui-listview-inset ui-corner-all ui-shadow"
                                data-inset="true" id="$category.id" data-item-id="$category.id"
                                role="listbox"
                                style="margin: 0.1em 0.0em;">
                                #foreach($item in $items)
                                <li class="ui-li-has-thumb simpleCart_shelfItem">
                                    <a href="" class="ui-btn" style="padding-left: 85px;padding-right: 2px;">
                                        <img src="../images/1024.png">

                                        <div class="ui-li-heading item_name oneline">$item.name</div>
                                        <div>
                                            <div class="ui-li-desc item_price">$item.price
                                            </div>
                                            <div class="item_add">
                                                <input type="text" data-role="spinbox" data-mini="true" name="spin" id="spin" value="0" min="0" max="1000" />
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                #end
                            </ul>
                            #end

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer" data-role="footer" style="z-index: 100">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3" style="background-color: #808080;text-align: center;height: 100%">
                    我的
                </div>
                <div class="col-xs-9" style="text-align: center;height: 100%">
                    <p>
                        <a href="javascript:;" class="simpleCart_empty">去结算</a>
                        <br>
                        总计: <span class="simpleCart_total">0</span> (<span id="simpleCart_quantity"
                                                                           class="simpleCart_quantity">0</span> items)
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>